/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    cellgeni/nf-cluster Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Nextflow flags
nextflow.enable.configProcessNamesValidation = false
nextflow.enable.moduleBinaries = true

// Define parameters with default values
params {
    // Input options
    input = null
    help  = false

    // Boilerplate options
    outdir              = 'results'
    publish_mode        = 'link'
    monochrome_logs     = false
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Pipeline options
    random_state = 4

    // Files
    autosomes        = "${projectDir}/data/human_autosomes.txt"
    amulet_blacklist = "${projectDir}/data/blacklist_repeats_segdups_rmsk_hg38.bed"
    blacklist        = "${projectDir}/data/hg38-blacklist.v2.bed"

    atac {
        genome            = null
        is_paired         = true
        sorted_by_barcode = false
        selected_features = 'selected'

        qc {
            filtered          = true
            min_num_fragments = 100
            max_mito_frac     = 0.25
            mad_thresh        = 3.5
            mad_keys          = ["log1p_n_fragments_cr", "frac_mito_reads", "tsse"]
        }

        tile {
            bin_size              = 500
            exclude_chroms        = ["chrM", "chrY", "M", "Y"]
            min_frag_size         = null
            max_frag_size         = null
            subset_features       = false
            n_features            = 50000
            filter_lower_quantile = 0.005
            filter_upper_quantile = 0.005
        }

        scrublet {
            n_comps               = 15
            sim_doublet_ratio     = 2.0
            expected_doublet_rate = 0.1
            n_neighbors           = 15
            use_approx_neighbors  = false
            probability_threshold = 0.5
            score_threshold       = null
            filter_inplace        = true
        }

        spectral {
            n_comps         = 30
            sample_size     = null
            sample_method   = 'random'
            chunk_size      = 5000
            distance_metric = 'cosine'
            weighted_by_sd  = true
            feature_weights = null
        }
    }

    neighbors {
        n_neighbors  = 15
        n_pcs        = null
        algorithm    = 'brute'
        metric       = 'euclidean'
        method       = 'umap'
        key_added    = null
    }

    leiden {
        resolution   = 1.0
        theta        = 1.0
        key_added    = 'leiden'
        n_iterations = 100
        use_weights  = true
        use_dask     = false
    }

    umap {
        min_dist             = 0.5
        spread               = 1.0
        n_components         = 2
        maxiter              = null
        alpha                = 1.0
        negative_sample_rate = 5
        init_pos             = 'spectral'
        a                    = null
        b                    = null
    }

    embeddingplot {
        basis      = 'X_umap'
        color      = ['leiden', 'sample']
        legend_loc = 'right margin'
        ncols      = 4
        dpi        = 150
    }

    amulet {
        expected_overlap      = 2
        max_insert_size       = 900
        q_thresh              = 0.01
    }
}

// Unscoped options
outputDir = params.outdir
cleanup   = false
workDir   = "nf-work"

env {
    NXF_SYNTAX_PARSER = "v2"
}

process {
    queue         = 'normal'
    maxRetries    = 5
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120m'
    runOptions  = '-B /lustre,/nfs'
    cacheDir    = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
timeline {
    enabled = true
    file    = "reports/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "reports/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "reports/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "reports/pipeline_dag_${params.trace_report_suffix}.html"
}

// Manifest
manifest {
    name            = 'cellgeni/nf-cluster'
    contributors    = [
        [
            name: 'Aljes',
            email: 'ab76@sanger.ac.uk',
            github: 'claptar',
            contribution: ['author', 'maintainer'],
        ],
    ]
    homePage        = 'https://github.com/cellgeni/nf-cluster'
    description     = """Nextflow wrapper pipeline for scanpy/snapatac2 data processing"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = '0.1.0dev'
    doi             = ''
}

// Include config files for modules
includeConfig "configs/snapatac2_fragments2h5ad.config"
includeConfig "configs/amulet.config"
includeConfig "configs/normalizecellrangermetrics.config"
includeConfig "configs/anndata_attachcsv.config"
includeConfig "configs/anndata_concatondisk.config"
includeConfig "configs/snapatac2_metrics.config"
includeConfig "configs/snapatac2_qualitycontrol.config"
includeConfig "configs/snapatac2_addtiles.config"
includeConfig "configs/snapatac2_mostaccessiblefeatures.config"
includeConfig "configs/snapatac2_selectfeatures.config"
includeConfig "configs/snapatac2_selectfeaturesprecomputed.config"
includeConfig "configs/snapatac2_scrublet.config"
includeConfig "configs/snapatac2_spectral.config"
includeConfig "configs/snapatac2_cupyspectral.config"
includeConfig "configs/rapids_singlecell_selectfeatures.config"
includeConfig "configs/rapids_singlecell_neighbors.config"
includeConfig "configs/rapids_singlecell_leiden.config"
includeConfig "configs/rapids_singlecell_umap.config"
includeConfig "configs/scanpy_embeddingplot.config"