/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    cellgeni/nf-cluster Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Nextflow flags
nextflow.enable.moduleBinaries = true

// Pipeline parameters
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input = null
    help  = false

    // Boilerplate options
    outdir              = 'results'
    publish_mode        = 'link'
    monochrome_logs     = false
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

// Unscoped options
outputDir = params.output_dir
cleanup   = false
workDir   = "nf-work"

process {
    queue         = 'normal'
    maxRetries    = 5
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120m'
    runOptions  = '-B /lustre,/nfs'
    cacheDir    = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
timeline {
    enabled = true
    file    = "reports/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "reports/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "reports/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "reports/pipeline_dag_${params.trace_report_suffix}.html"
}

// Manifest

manifest {
    name            = 'cellgeni/nf-cluster'
    contributors    = [
        [
            name: 'Aljes',
            email: 'ab76@sanger.ac.uk',
            github: 'claptar',
            contribution: ['author', 'maintainer'],
        ],
    ]
    homePage        = 'https://github.com/cellgeni/nf-cluster'
    description     = """Nextflow wrapper pipeline for scanpy/snapatac2 data processing"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = '0.1.0dev'
    doi             = ''
}
