process {
    withName: '.*AMULET' {
        cpus       = 1
        queue      = "normal"
        errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'ignore' }
        ext.args   = {
            [   
                "--expectedoverlap ${params.amulet.expected_overlap}",
                "--maxinsertsize ${params.amulet.max_insert_size}",
                "--qthresh ${params.amulet.q_thresh}",
            ].join(' ')
        }
        memory     = { 16.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/amulet/${meta.id}" },
            pattern  : "*.txt",
            overwrite: true
        ]
    }
}