process {
    withName: '.*AMULET' {
        cpus       = 1
        queue      = "normal"
        memory     = { 16.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/amulet/${meta.id}" },
            overwrite: true
        ]
    }
}