process {
    withName: '.*ATTACH_CRMETRICS_AMULET' {
        cpus       = 1
        queue      = "normal"
        ext.entry   = 'obs'
        ext.prefix  = { "${meta.id}_cramulet" }
        ext.barcode_column = 'barcode'
        memory     = { 4.GB + 4.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/metadata/" },
            overwrite: true
        ]
    }
}