process {
    withName: '.*ANNDATA_CONCATONDISK' {
        ext.args = "--axis obs --join inner --merge same --uns-merge same --index-unique '___'"
        cpus       = 1
        queue      = "normal"
        memory     = { filesSizeInGB(h5ads) + 4.GB + 8.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/concatenated/" },
            overwrite: true
        ]
    }
}
