process {
    withName: '.*NORMALIZECELLRANGERMETRICS' {
        cpus       = 1
        queue      = "normal"
        memory     = { 2.GB + 4.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/metrics/" },
            overwrite: true
        ]
    }
}