process {
    withName: '.*ATAC:RAPIDS_SINGLECELL_UMAP' {
        ext.args = {
            [
                "--min-dist ${params.umap.min_dist}",
                "--spread ${params.umap.spread}",
                "--n-components ${params.umap.n_components}",
                params.umap.maxiter != null ? "--maxiter ${params.umap.maxiter}" : "",
                "--alpha ${params.umap.alpha}",
                "--negative-sample-rate ${params.umap.negative_sample_rate}",
                "--init-pos ${params.umap.init_pos}",
                "--random-state ${params.random_state}",
                params.umap.a != null ? "--a ${params.umap.a}" : "",
                params.umap.b != null ? "--b ${params.umap.b}" : "",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-cellgen-restricted"
        clusterOptions      = {
            def sizeGbRoundedUp = Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long
            def gmemMb = Math.min((sizeGbRoundedUp + 2L) * 1024L, 80L * 1024L)
            " -gpu \"num=1:mode=exclusive_process:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 64.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/umap/" },
            overwrite: true
        ]
    }
}
