process {
    withName: '.*ATAC:RAPIDS_SINGLECELL_SELECTFEATURES' {
        ext.args = {
            [
                "--n-features ${params.atac.tile.n_features}",
                "--random-state ${params.random_state}",
                "--subset-selected"
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-cellgen-restricted"
        clusterOptions      = {
            def sizeGbRoundedUp = Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long
            def gmemMb = Math.min((sizeGbRoundedUp + 2L) * 1024L, 80L * 1024L)
            " -gpu \"num=1:mode=exclusive_process:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 64.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/features/" },
            overwrite: true
        ]
    }
}
