process {
    withName: '.*ATAC:RAPIDS_SINGLECELL_LEIDEN' {
        ext.args = {
            [
                "--resolution ${params.leiden.resolution}",
                "--random-state ${params.random_state}",
                "--theta ${params.leiden.theta}",
                "--key-added ${params.leiden.key_added}",
                "--n-iterations ${params.leiden.n_iterations}",
                "--use-weights ${params.leiden.use_weights}",
                "--use-dask ${params.leiden.use_dask}",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-cellgen-restricted"
        clusterOptions      = {
            " -gpu \"num=1:mode=exclusive_process:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 64.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/leiden/" },
            overwrite: true
        ]
    }

    withName: '.*ATAC:RAPIDS_SINGLECELL_LEIDEN_SELECTFEATURES' {
        ext.args = {
            [
                "--resolution 0.05",
                "--random-state ${params.random_state}",
                "--key-added leiden_selectfeatures",
                "--n-iterations 100",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-cellgen-restricted"
        clusterOptions      = {
            " -gpu \"num=1:mode=exclusive_process:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 64.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/leiden_selectfeatures/" },
            overwrite: true
        ]
    }
}
