process {
    withName: '.*ATAC:RAPIDS_SINGLECELL_NEIGHBORS' {
        ext.args = {
            [
                "--n-neighbors ${params.neighbors.n_neighbors}",
                params.neighbors.n_pcs != null ? "--n-pcs ${params.neighbors.n_pcs}" : "",
                "--use-rep X_spectral",
                "--random-state ${params.random_state}",
                "--algorithm ${params.neighbors.algorithm}",
                "--metric ${params.neighbors.metric}",
                "--method ${params.neighbors.method}",
                params.neighbors.key_added != null ? "--key-added ${params.neighbors.key_added}" : "",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-cellgen-restricted"
        clusterOptions      = {
            " -gpu \"num=1:mode=exclusive_process:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 64.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/neighbors/" },
            overwrite: true
        ]
    }

    withName: '.*ATAC:RAPIDS_SINGLECELL_NEIGHBORS_SELECTFEATURES' {
        ext.args = {
            [
                "--n-neighbors 50",
                "--use-rep X_spectral",
                "--random-state ${params.random_state}",
                "--algorithm ${params.neighbors.algorithm}",
                "--metric ${params.neighbors.metric}",
                "--method ${params.neighbors.method}",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-cellgen-restricted"
        clusterOptions      = {
            " -gpu \"num=1:mode=exclusive_process:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 64.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/neighbors_selectfeatures/" },
            overwrite: true
        ]
    }
}
