process {
    withName: '.*ATAC:RAPIDS_SINGLECELL_NEIGHBORS' {
        ext.args = {
            [
                "--n-neighbors ${params.neighbors.n_neighbors}",
                params.neighbors.n_pcs != null ? "--n-pcs ${params.neighbors.n_pcs}" : "",
                "--use-rep X_spectral",
                "--random-state ${params.random_state}",
                "--algorithm ${params.neighbors.algorithm}",
                "--metric ${params.neighbors.metric}",
                "--method ${params.neighbors.method}",
                params.neighbors.key_added != null ? "--key-added ${params.neighbors.key_added}" : "",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-normal"
        clusterOptions      = {
            def sizeGbRoundedUp = Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long
            def gmemMb = Math.min((sizeGbRoundedUp + 2L) * 1024L, 80L * 1024L)
            " -gpu \"mode=shared:j_exclusive=no:gmem=${gmemMb}:num=1\""
        }
        containerOptions    = '--nv'
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long).GB) + 8.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/neighbors/" },
            overwrite: true
        ]
    }
}
