process {
    withName: '.*ATAC:RAPIDS_SINGLECELL_LEIDEN' {
        ext.args = {
            [
                "--resolution ${params.leiden.resolution}",
                "--random-state ${params.random_state}",
                "--theta ${params.leiden.theta}",
                "--key-added ${params.leiden.key_added}",
                "--n-iterations ${params.leiden.n_iterations}",
                "--use-weights ${params.leiden.use_weights}",
                "--use-dask ${params.leiden.use_dask}",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "gpu-normal"
        clusterOptions      = {
            def sizeGbRoundedUp = Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long
            def gmemMb = Math.min((sizeGbRoundedUp + 2L) * 1024L, 80L * 1024L)
            " -gpu \"mode=shared:j_exclusive=no:gmem=${gmemMb}:num=1:gmodel=NVIDIAA100_SXM4_80GB\""
        }
        containerOptions    = '--nv'
        memory     = {
            def sizeGb = h5ad.size() / (1024d * 1024d * 1024d)
            def adjustedGb = sizeGb + Math.max(0d, sizeGb - 80d)
            ((Math.ceil(adjustedGb) as long).GB) + 16.GB + 64.GB * (task.attempt - 1)
        }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/leiden/" },
            overwrite: true
        ]
    }
}
