process {
    withName: '.*SNAPATAC2_METRICS' {
        ext.genome = params.atac.genome
        cpus       = 4
        queue      = "normal"
        memory     = { fileSizeInGB(h5ad) + 8.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/metrics/" },
            overwrite: true
        ]
    }
}