process {
    withName: '.*SNAPATAC2_MOSTACCESSIBLEFEATURES' {
        ext.args = {
            [
                "--n-features ${params.atac.tile.n_features}",
                "--filter-lower-quantile ${params.atac.tile.filter_lower_quantile}",
                "--filter-upper-quantile ${params.atac.tile.filter_upper_quantile}"
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "long"
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d) * 2) as long).GB) + 16.GB + 64.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/features/" },
            overwrite: true
        ]
    }
}
