process {
    withName: '.*SNAPATAC2_FRAGMENTS2H5AD' {
        ext.filtered = params.atac.filtered
        ext.args      = {
            [   
                "--genome ${params.atac.genome}",
                "--min-num-fragments ${params.atac.min_num_fragments}",
                params.atac.is_paired ? "--is-paired" : "--no-is-paired",
                params.atac.sorted_by_barcode ? "--sorted-by-barcode" : "--no-sorted-by-barcode",
            ].join(' ')
        }
        cpus       = 4
        queue      = "normal"
        memory     = { 24.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/fragments/" },
            overwrite: true
        ]
    }
}