process {
    withName: '.*SNAPATAC2_SELECTFEATURES' {
        ext.args = {
            [
                "--n-features ${params.atac.tile.n_features}",
                "--filter-lower-quantile ${params.atac.tile.filter_lower_quantile}",
                "--filter-upper-quantile ${params.atac.tile.filter_upper_quantile}",
                params.atac.tile.subset_features ? "--subset-selected" : "",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "normal"
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long).GB) + 4.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/features/" },
            overwrite: true
        ]
    }
    withName: '.*SNAPATAC2_SELECTFEATURES_CONCAT' {
        ext.args = {
            [
                "--n-features ${params.atac.tile.n_features}",
                "--filter-lower-quantile ${params.atac.tile.filter_lower_quantile}",
                "--filter-upper-quantile ${params.atac.tile.filter_upper_quantile}",
                "--subset-selected"
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "long"
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long).GB) * 2 + 32.GB + 64.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/features/" },
            overwrite: true
        ]
    }
}
