process {
    withName: '.*SNAPATAC2_SPECTRAL' {
        ext.args = {
            def spectralThreads = (params.atac.spectral.sample_size != null || params.atac.spectral.distance_metric == 'jaccard') ? 8 : 1
            [
                "--n-comps ${params.atac.spectral.n_comps}",
                "--features ${params.atac.selected_features}",
                "--random-state ${params.random_state}",
                params.atac.spectral.sample_size != null ? "--sample-size ${params.atac.spectral.sample_size}" : "",
                "--sample-method ${params.atac.spectral.sample_method}",
                "--chunk-size ${params.atac.spectral.chunk_size}",
                "--distance-metric ${params.atac.spectral.distance_metric}",
                params.atac.spectral.weighted_by_sd ? "--weighted-by-sd" : "--no-weighted-by-sd",
                params.atac.spectral.feature_weights instanceof List && params.atac.spectral.feature_weights ? "--feature-weights ${params.atac.spectral.feature_weights.join(' --feature-weights ')}" : "",
                "--num-threads ${spectralThreads}",
            ].findAll { v -> v }.join(' ')
        }
        cpus       = { (params.atac.spectral.sample_size != null || params.atac.spectral.distance_metric == 'jaccard') ? 8 : 1 }
        queue      = "normal"
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long).GB) + 8.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/spectral/" },
            overwrite: true
        ]
    }
}
