process {
    withName: '.*SNAPATAC2_SCRUBLET' {
        ext.args = {
            [
                "--features ${params.atac.selected_features}",
                "--n-comps ${params.atac.scrublet.n_comps}",
                "--sim-doublet-ratio ${params.atac.scrublet.sim_doublet_ratio}",
                "--expected-doublet-rate ${params.atac.scrublet.expected_doublet_rate}",
                params.atac.scrublet.n_neighbors != null ? "--n-neighbors ${params.atac.scrublet.n_neighbors}" : "",
                params.atac.scrublet.use_approx_neighbors ? "--use-approx-neighbors" : "--no-use-approx-neighbors",
                "--random-state ${params.random_state}",
                "--probability-threshold ${params.atac.scrublet.probability_threshold}",
                params.atac.scrublet.score_threshold != null ? "--score-threshold ${params.atac.scrublet.score_threshold}" : "",
                params.atac.scrublet.filter_inplace ? "--filter-inplace" : "--no-filter-inplace",                
            ].findAll { v -> v }.join(' ')
        }
        cpus       = 1
        queue      = "normal"
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long).GB) + 4.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/scrublet/" },
            overwrite: true
        ]
    }
}
