process {
    withName: '.*SNAPATAC2_QUALITYCONTROL' {
        ext.filtered = params.atac.qc.filtered
        ext.args      = {
            [   
                "--amulet-qthresh ${params.amulet.q_thresh}",
                "--min-fragments ${params.atac.qc.min_num_fragments}",
                "--max-mito-frac ${params.atac.qc.max_mito_frac}",
                "--mad-thresh ${params.atac.qc.mad_thresh}",
                params.atac.qc.mad_keys instanceof List ? "--mad-key ${params.atac.qc.mad_keys.join(' --mad-key ')}" : "",
            ].join(' ')
        }
        cpus       = 1
        queue      = "normal"
        memory     = { ((Math.ceil(h5ad.size() / (1024d * 1024d * 1024d)) as long).GB) + 4.GB + 16.GB * (task.attempt - 1) }
        publishDir = [
            mode     : 'link',
            path     : { "${params.outdir}/h5ad/filtered/" },
            overwrite: true
        ]
    }
}